<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="canvas002">
        <div class="canvas001">
            <div class="mainContent">
                <h2>Budget Manager</h2>
                <p class="lead">Klientservice til oprettelse af budgetterede poster og kontroloversigt over indregistrerede poster.</p>
                <!--<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
            </div>
            <div class="canvas004">
                <div class="row">
                    <div class="col-md-4">
                        <h2>Opret budget</h2>
                        <p>
                            Budget Manager's service løfter opgaven når organisationens posteringer skal dokumenteres.
                        </p>
                        <p>
                            Budget Manager's "Template-creator" gør det nemt at oprette nye skemaer over budgetterede poster.
                            "Template Creator" tilbyder oprettelse af skræddersyet budgetskemaer over organisatoriske dokumenterede budgetposter. 
                        </p>
                        <p><a class="btn btn-default" href="/Home/CreateBugetTemplate">Opret Budget &raquo;</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Budget oversigt</h2>
                        <p>
                            Budget Manager's service løfter opgaven når der skal holdes styr på organisationens regnskab.
                        </p>
                        <p>
                            Budget Manager's oversigt formidler en overskuelig platform for oprettede budgetter med inddeling i regnskabsår.
                            Oversigten er personligt struktureret med hendblik individuelle krav om generelle budgetposters udformning.
                        </p>
                        <p><a class="btn btn-default" href="/Home/BudgetIndex">Se oversigt &raquo;</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Opdater budget</h2>
                        <p>Budget Manager's service holder dig opdateret</p>
                        <p><a class="btn btn-default" href="">Opdater Poster &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

